

.contenu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dollar {
font-size: 30px;
font-weight: 500;
text-transform: uppercase;
color: #363636;
text-decoration: none;
margin-bottom: 10px;

}

.brand {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: gray;
}

.model {
font-size: 30px;
font-weight: 500;
text-transform: uppercase;
color: #363636;
text-decoration: none;
margin-bottom: 10px;
}




.book {
    margin-right: 0;
    margin-left: 0;
    left: 0;
    right: 0;
    min-width: 152px;
    max-width: 170px;
    height: 32px;
    min-height: 32px;
    border-radius: 10px;

}

.list {
  z-index: 0;
  width: 100%;

}

.contenu {
  display: flex;
  margin: 30px auto;
  width: 1024px;
  height: 150px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.contenu .contenu_image {
  width: 300px;
  height: inherit;
  border-radius: 40px;
}

.contenu .contenu_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.contenu .contenu_title {

  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  // font-size: 30px;
  height: 40px;
  color: black;
  gap: 1rem;
  flex-grow: 1;
  margin-top: 60px;
}


.contenu:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.booking-button {
  display: flex;
  flex-direction: flex-end;
}

@media all and (max-width: 500px) {
  .list {
    flex-direction: column;
  }
}
