// Import page-specific CSS files here.
@import "home";
@import "car-container";

.searchbar{
  justify-content: space-between;
}

.h1{
  background: black;
}

.h1{
  background: black;
  padding: 10px;
  border-color: black;
}
