<footer class="bg-dark">
  <p>Directed by @leogenuit - @nicolasfeuerstein - @thithuhanguyen</p>
  <p>©carnage 2021</p>
  <div class="d-flex justify-content-center pt-3">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-snapchat"></i>
  </div>
</footer>
