footer {
  margin-top: 40px;
}

p {
  text-align: center;
  color:rgba(255, 255, 255, 0.5);
  padding-top: 30px;
  margin: 0px;
}

i {
  font-size: 30px;
  padding: 15px;
  color:rgba(255, 255, 255, 0.5);
}
